body{
	background-color: lightblue;
}


h1{
	font-size: 35px;
	font-family: verdana;
	position: absolute;
	left: 20%;
	top: 2%;
}

h2{
	position: absolute;
	left: 35%;
	top: 15%;
	font-family: verdana;
}

h3{
	font-family: verdana;
	position: absolute;
	left: 50%;
	top: 25%;
}

#p1{
	position: absolute;
	top: 35%;
	left: 5%;
	font-family: verdana;
	font-size: 20px;
}		

#p2{
	position: absolute;
	top: 42%;
	left:15%;
	font-family: verdana;
	font-size: 15px;
}

#d{
	position: absolute;
	top: 110%;
	left:15%;
	font-family: verdana;	
}

#p3{
	position: absolute;
	top: 65%;
	left: 5%;
	font-family: verdana;
	font-size: 20px;
}		

#p4{
	position: absolute;
	top: 72%;
	left: 15%;
	font-family: verdana;
	font-size: 15px;
}

#a{
	border: 1px black solid;
	position: absolute;
	width: 1300px;
	height: 25px;
}
		

#id{
	position: absolute;
	left: 10%;
	top: 50%;
	height: 400px;
	width: 450px;
}

#ig{
	position: absolute;
	left: 40%;
	top: 50%;
	height: 400px;
	width: 450px;
}
