body{
	background-color: mistyrose;
}


h1{
	color: black;	
	font-size: 35px;
	font-family: verdana;
	position: absolute;
	left: 29%;
	top: 2%;
}

h2{
	position: absolute;
	left: 35%;
	top: 15%;
	font-family: verdana;
}

h3{
	font-family: verdana;
	position: absolute;
	left: 46%;
	top: 25%;
}

#p1{
	position: absolute;
	top: 35%;
	left: 5%;
	font-family: verdana;
	font-size: 20px;
}		

#p2{
	position: absolute;
	top: 42%;
	left:15%;
	font-family: verdana;
	font-size: 15px;
}

#d{
	position: absolute;
	top: 52%;
	left:15%;
	font-family: verdana;	
}

#p3{
	position: absolute;
	top: 75%;
	left: 5%;
	font-family: verdana;
	font-size: 20px;
}		

#p4{
	position: absolute;
	top: 80%;
	left: 15%;
	font-family: verdana;
	font-size: 15px;
}



#d1{	
	position: absolute;
	top: 88%;
	left:15%;
	font-family: verdana;	
}

#u{
	position: absolute;
	top: 70%;
	left:30%;
}

#i{
	position: absolute;
	top: 105%;
	left:30%;
}

#au{
	border: 1px black solid;
	position: absolute;
	width: 300px;
	height: 25px;
	left: 30%;
	top: 90%;
}

#ui{
	border: 1px black solid;
	position: absolute;
	width: 300px;
	height: 25px;
	left: 30%;
	top: 50%;
}
