body{
	background
}


h1{
	font-size: 35px;
	font-family: verdana;
	position: absolute;
	left: 40%;
	top: 2%;
}

h2{
	position: absolute;
	left: 35%;
	top: 15%;
	font-family: verdana;
}


#p1{
	position: absolute;
	top: 35%;
	left: 5%;
	font-family: verdana;
	font-size: 20px;
}		

#p2{
	position: absolute;
	top: 42%;
	left:15%;
	font-family: verdana;
	font-size: 15px;
}

#d{
	position: absolute;
	top: 50%;
	left:15%;
	font-family: verdana;	
}

#p3{
	position: absolute;
	top: 75%;
	left: 5%;
	font-family: verdana;
	font-size: 20px;
}		

#p4{
	position: absolute;
	top: 120%;
	left: 15%;
	font-family: verdana;
	font-size: 15px;
}

#i{
	position: absolute;
	left: 40%;
	top: 35%;
	width: 200px;
	height: 180px;
}

#v{
	position:absolute;
	left:20%;
	top: 80%; 
}

#f{
	background:lightgray;
	border-radius: 20px;
	padding: 40px;
}

#d1{
	position:absolute;
	left:15%;
	top: 127%;
	font-family: verdana 
}

#u{
	position:absolute;
	left:20%;
	top: 69%; 	
}

#s{
	position:absolute;
	left:20%;
	top: 145%; 
}

#a{
	border: 1px black solid;
	position: absolute;
	width: 1300px;
	height: 25px;
}
